<html>
    <head></head>
    <body>
      <h1>{{run.name}}</h1>

      <table>
	<tr><td>thls</td>     <td>{{run.thls}}</td>      <td>K</td></tr>
	<tr><td>u0</td>       <td>{{run.params.u0}}</td>        <td>m/s</td></tr>
	<tr><td>qt0</td>      <td>{{run.params.qt0}}</td>       <td>kg/kg</td></tr>
	<tr><td>qt_lambda</td><td>{{run.params.qt_lambda}}</td> <td>m</td></tr>
	<tr><td>thl_Gamma</td><td>{{run.params.thl_Gamma}}</td> <td>K/km</td></tr>
	<tr><td>wpamp</td>    <td>{{run.params.wpamp}}</td>     <td>m/s</td></tr>
      </table>


      <h2>Profiles</h2>
      <img src="profiles.png">
      <br>
      
	<video width="500" controls>
	    <source src="albedo.mp4" type="video/mp4">
	    Your browser does not support the video tag.
	</video>

	<video width="500" controls>
	    <source src="coldpool.mp4" type="video/mp4">
	    Your browser does not support the video tag.
	</video>

	<video width="500" controls>
	    <source src="twp.mp4" type="video/mp4">
	    Your browser does not support the video tag.
	</video>

    </body>
</html>
